<%- include Partials/header.ejs%>
<%- include Partials/main_nav.ejs%>
    <!--Main content-->
    <div class="home-page">
  <h1 class="home-title"> <%= title %></h1>
    <p class="home-description"><%= description %></p>
    <a href="/workoutslist/add" class="btn btn-primary">+ Add Workout</a>
    </div>
<%- include Partials/footer.ejs%>